<%- include('../partials/head'); %>
<%- include('../partials/header'); %>
<%- include('../partials/nav'); %>
    <main>
        <section>djbfubb</section>
    </main>
    <%- include('../partials/footer'); %>
    <%- include('../partials/after-footer'); %>